#
# TM-DRIVERS TUTORIAL
#

menu "tm-driver-tutorial"

source "drivers/tm-driver/gpio-tutorial/Kconfig"
source "drivers/tm-driver/adc-custom/Kconfig"
source "drivers/tm-driver/usb-custom/Kconfig"

endmenu
