#
# TM-DRIVERS TUTORIAL
#

menu "tm-driver-tutorial"

source "drivers/tm-driver/gpio-tutorial/Kconfig"
source "drivers/tm-driver/ads1115-custom/Kconfig"
source "drivers/tm-driver/usb-custom/Kconfig"
endmenu
